#define FONT Monospace-10

#define LBGCOL #F0F0F0
#define LFGCOL #252525

#define DBGCOL #161616
#define DFGCOL #C2C2C2

xterm*background: LBGCOL
xterm*foreground: LFGCOL

!black
xterm*color0:  #000000
xterm*color8:  #000000
!red
xterm*color1:  #7f3202
xterm*color9:  #7f3202
!green
xterm*color2:  #426d0f
xterm*color10: #426d0f
!yellow
xterm*color3:  #a67b07
xterm*color11: #a67b07
!blue
xterm*color4:  #0771a6
xterm*color12: #0771a6
!magenta
xterm*color5:  #a6a007
xterm*color13: #a6a007
!cyan
xterm*color6:  #008d9a
xterm*color14: #008d9a
!white
xterm*color7:  #ffffff
xterm*color15: #ffffff

xterm*termName: xterm-256color
xterm*faceName: FONT
xterm*font: 7x13
xterm*bellIsUrgent: true
xterm*locale: true
xterm*saveLines: 4096
xterm*eightBitInput: false

Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting:   1
Xft.antialias: 1
Xft.rgba:      rgb

Emacs*menubar: 0
Emacs*verticalScrollBars:0
Emacs*toolBar:0

Emacs*foreground: LFGCOL
Emacs*background: LBGCOL
Emacs*FontBackend: xft
Emacs*font: FONT
